body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #023047;
}

div {
    background-color: aliceblue;
    margin-bottom: 8px;
}

h1 {
    color: aliceblue;
}

main {
    max-width: fit-content;
    margin-inline: auto;
}

ul {
    padding-left: 0;
    display: inline-block;
}

li {
    flex: 0 0 210px;
    list-style-type: none;
    text-wrap: wrap;
    width: 210px;
}

.text-field, .text-field:disabled {
    border: none;
    color: black;
    font-size: 1rem;
    resize: none;
}

.remove-button {
    background-color: rgba(251, 133, 0, 0.705);
    transition-duration: 0.2s;
    color: aliceblue;
    font-weight: bold;
    height: 2em;
    border: 0 none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 4px;
}

.remove-button:hover {
    background-color: rgb(251, 133, 0);  
}

.remove-button:active { 
    transform: scale(0.95); 
} 

.edit-button {
    background-color: rgba(2, 48, 71, 0.705);
    transition-duration: 0.2s;
    color: whitesmoke;
    font-weight: bold;
    height: 2em;
    border: 0 none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 4px;
}

.edit-button:hover {
    background-color: rgb(2, 48, 71);  
}

.edit-button:active { 
    transform: scale(0.95); 
} 

#task {
    border-color: rgb(118, 126, 105);
    font-size: 1rem;
}

#submit {
    background-color: rgb(251, 133, 0);
    color: aliceblue;
    font-weight: bold;
    height: 2em;
    border: 0 none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 4px;
}

#submit:active { 
    transform: scale(0.95); 
}
#submit:disabled { 
    background-color: rgba(251, 133, 0, 0.521);
    transform: scale(1); 
} 

div {
    border-radius: 2px;
    display: flex;
    gap: 10px;
    border-width: 1px 2px;
    border-color: rgba(118, 126, 105, 0.507);
    border-style: solid;
    padding: 10px 5px 10px 8px;
}